<div class="row">
    <div class="col-lg-3 col-12">
        <ul>
           <li><a href="#"></a>Politicas de privacidad</li>
           <li><a href="#"></a>Politicas de Cambio</li>
           <li><a href="#"></a>Politicas de envío</li>
           <li><a href="#"></a>Terminos y condiciones</li>
           <li><a href="#"></a>Responsabilidad social</li>           
        </ul>
    </div>
    <div class="col-lg-3 col-12"></div>
    <ul>
        <li><a href="#"></a>Encuentra tu tienda</li>
        <li><a href="#"></a>Contactános</li>
        <li><a href="#"></a>Trabaja con nosotros</li>
    </ul>
    <div class="col-lg-3 col-12"></div>
</div>
