<div class="container-fluid">
    <div class="container"></div>
    <div class="row">
        <div class="col-sm-12 col-md-3 logo">
            <a [routerLink]="['/landing-page/home']"><h3>CLOTHESSTORE</h3></a>
        </div>
        <div class="col-sm-12 col-md-3">
            <app-from-search></app-from-search>
        </div>
        <div class="col-sm-12 col-md-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3"
                viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person"
                viewBox="0 0 16 16">
                <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
            </svg>
            <button class="btn btn-primary">Iniciar sesión</button>
        </div>
    </div>
    <div class="container"></div>

</div>
<div class="input-group mb-3" style="width: 100%;">


</div>
<nav id="nav" style="justify-content: center; display: flex;">
    <ul>
        <li>
            <a href="#">Hombre</a>
        </li>
        <li>
            <a href="#">Mujer</a>
        </li>
        <li>
            <a href="#">Junior</a>
        </li>
        <li>
            <a href="#">Niños</a>
        </li>
        <li>
            <a href="#">Accesorios</a>
        </li>
        <li>
            <a href="#">Ofertas</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
<div class="row">
    <div class="col-lg-4 col-12">
        <div class="card">
            best seller
        </div>
    </div>
</div>
<div class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 item">

                <h3>POLÍTICAS</h3>
                <ul>
                    <li><a href="#"></a>Politicas de privacidad</li>
                    <li><a href="#"></a>Politicas de Cambio</li>
                    <li><a href="#"></a>Politicas de envío</li>
                    <li><a href="#"></a>Terminos y condiciones</li>
                    <li><a href="#"></a>Responsabilidad social</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 item">
                <h3>SOBRE NOSOTROS</h3>
                <ul>
                    <li><a href="#"></a>Encuentra tu tienda</li>
                    <li><a href="#"></a>Contactános</li>
                    <li><a href="#"></a>Trabaja con nosotros</li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-5 item social">
                <h3 class="col-lg-12 col-md-10">SÍGUENOS EN:</h3>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>

            </div>
        </div>       
    </div>
</div>
<div class="copyright">
    ©C opyright Colombia: Todos los derechos reservados.    
  </div>
  