<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let product of product">
       <div class="card">
           <div class="img">
               <a [routerLink]="['/title-details', product.id]">
                <img
                [src] = "product.thumbnail"
                [alt] = "product.title"
                class="card-img-top"
                >
            </a>
           </div>
           <div class="card-inner">
               <div class="header">
                <a [routerLink]="['/title-details', product.id]">
                    <h2>{{product.title}}</h2>
                </a>
                <h4 class="text-muted">{{product.prices[0]}}</h4>
                <small class="text-muted">Disponibilidad de: {{product.available_quantity}} u/d</small>                
               </div>
           </div>
       </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 mt-t container-notFound" 
    *ngIf="product.length <= 0">
        <p>No results.....</p>
    </div>
    <button class="btn btn-dark">GO UP</button>
</div>
