

.logo a {
  text-decoration: none;
  color: black; 
}
.input-group{
    position: static;    
}


#nav{
    text-decoration: none;
    height: 50px;    
    font-size: 25px;    
    background-color: black;
    justify-content: center; 
    display: flex;
}



#nav ul{
    line-height: 40px;
    height: 100%;    
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: auto;     
}

#nav  ul > li{
    line-height: 50px;
    height: 100%;
    float: left;
    border-right: 1px solid white;    
}

#nav  ul  li a{
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-decoration: none;   
}

.card-outside{
  margin: 10px;
  width: 250px;
	height: 300px;
  padding: 10px;
  }

.card-inside{
    box-shadow: 0 1px 3px rgba(0, 0, 0 , 0.12), 0 1px 2px (rgba(0,0,0, 0.24));
    box-sizing: border-box;
    margin: 10px 0;
    width: 230px;
    height: 270px;
    align-content: center;
    background-color: #fff;   
    border: 1px solid #ccc;
    transition: all 0.2 ease-in-out;
    &:hover{
        box-shadow: 0 1px 3px rgba(0, 0, 0 , 0.12), 0 1px 2px (rgba(0,0,0, 0.24));
        cursor: pointer;  
    }
    img{
        opacity: 0.7;
        width:75%;
        height: 55%;
        transition: opacity 0.7;
        justify-content: center;
        &:hover{
            opacity: 1;
        }      
    }    
}

.footer-card{
  background-color: #ebebeb;
  padding: 20px;
  height: 122px;  
}

.footer-card h3{ 
  text-decoration: none;
  margin-top: 10px;
  font-size: 10px;
  padding-left: 10px;
  justify-content: space-between;
  overflow: hidden;
  display: block;  
}

.footer-card ul li{
  list-style: none;
  float: left; 
}

.footer-card ul > li > h3{
  font: normal normal bold 12px/18px Helvetica Neue;
  margin: 3px;  
  color: #5B17AA;
  
}

.btn-card{  
  background-color: black;
  color: #fff;
}

.footer-main{
  padding:70px 0;
}

.footer-main , .copyright{    
    background-color: black;
    color:#fff;
  }
  
  .footer-main h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:20px;
  }
  
  .footer-main ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-main ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-main ul a:hover {
    opacity:1;
  }
  
  .footer-main .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-main .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-main .item.social {
      text-align:center;
    }
  }
  
  .footer-main .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
   justify-content: space-between;
  }
  
  .footer-main .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-main .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-main .item.social > a {
      margin-top:10px;
    }
  }
  
 .copyright{
  text-align: center;
  border-color: #ccc;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//*Layout*//
.container-img{
   float: left;
 }


 .texto-infantil{
  top: 1052px;
  left: 92px;
  width: 842px;
  height: 632px;
  color: #FFFFFF;
  text-shadow: 4px 2px 5px #000000B8;
  opacity: 1;
  background: transparent url(assets/img/categorias-destacadas-moda-infantil.png);
}


.texto-proteccion{
  top: 1054px;
  left: 987px;
  width: 842px;
  height: 632px;
  color: #FFFFFF;
  text-shadow: 4px 2px 5px #000000B8;
  opacity: 1;
  transform: matrix(1, -0.01, 0.01, 1, 0, 0);
  background: transparent url(assets/img/categorias-destacadas-proteccion.png);
}



//* carousel *//

.dsc-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0 , 0.12);
  }
  &_content {
    size: inherit;
    text-align: center;
    height: 745px;
    width: 1920px;
    align-self: stretch;
    display: flex;
    overflow: hidden;
  }
    &-item{
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s all ease-in;
    }
    
    &_btns{
      position: absolute;
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      > i{
        opacity: 0.7;
        color: #fff;
        font-size: 45px;
        cursor: pointer;
        justify-content: space-between;
      }
    } 
 
  &_steps{
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    &-step{
      height: 8px;
      width: 25px;
      margin: 0 5px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255 , 0.7);
      cursor: pointer;
      transition: 0.75s all ease-in-out;
      &:hover, &-active{
        opacity: 0.7;
        background: #fff;
      }
    }
  }
}